.footer-container{
    font-family: "Poppins", sans-serif;
    display: flex;
    box-sizing: border-box;
    padding: 50px;
    background-color: rgb(61, 61, 61);
    color: #fff;
    justify-content: space-around;
    margin-top: 100px;
    column-gap: 80px;
}
.company-name{
    font-size: 20px;
    margin-bottom: 20px;
}
.company-description{
    line-height: 1.2;
    font-size: 14px;
    width: 40vw;
}
.link-header{
    font-size: 20px;
    
}
.link-items{
    list-style: none;
    cursor: pointer;
    padding-left: 0px;
}