.hero-section{
    background-image: linear-gradient(rgba(0,0,0,.548),rgba(0,0,0,.5)),url("../../../public/assets/hero-image.jpg");
    height: 70vh;
    width: 100%;
    background-position: center center; /* to give center to both x and y axis*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    font-size: 3vw;
    font-weight: 300;
    width: 50vw;
}

.letter-animation {
    opacity: 0;
    animation: appearAnimation 2s forwards
  }

  @keyframes appearAnimation {
    from {
      opacity: 0;
      transform: translateY(150px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply individual animation for each letter */
  .letter-animation span {
    display: inline-block;
    animation: letterAnimation 0.5s forwards;
    opacity: 0;
  }
  
  @keyframes letterAnimation {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }