@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.header {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  /* margin: auto; */
  font-weight: 500;
}
.logo {
  color: rgb(158, 7, 7);
  cursor: pointer;
  font-size: 26px;
}
.nav-link {
  cursor: pointer;
  color: #fff;
  background-color: rgb(35, 16, 146);
  border-radius: 30px;
  padding: 5px 30px;
  font-size: 16px;
}
